:root{
  --button: #878cca;
  --main:#2F324B;
  --border:#7A84F5;
}
#root{
  margin: 0 5%;
}
header{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1%;
  background-color: var(--main);
  color: wheat;
  border-bottom: solid var(--border) 4px;
}

form{
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  min-height: 75vh;
}

.card{
  color: wheat;
  background-color: var(--main);
  border: solid var(--border) 2px;
  padding: 0.5%;
  width: 19rem;
}
img{
  width: 200px !important;
  height: 100px;
}
button{
  background-color: var(--button) !important;
  border: var(--border) !important;
}
footer{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 2%;
  background-color: var(--main);
  color: wheat;
  border-top: solid var(--border) 4px;

}

